<!DOCTYPE HTML>
<html>
    <% include head %>
    <body>
        <div id="doc">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Voting system</a>
                    </div><!-- end .navbar-header -->
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Johnson <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a data-toggle="modal" href="#createVoteModal">Create Vote</a></li>
                                <li><a data-toggle="modal" href="#createGroupModal">Create Group</a></li>
                                <li><a href="#">Modify Profile</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul><!-- end .dropdown-menu -->
                        </li><!-- end .dropdown -->
                    </ul><!-- end .navbar-nav -->
                </div><!-- end .container -->
            </div><!-- end .navbar -->
            <div class="container">
                <!-- createVoteModal Modal -->
                <div class="modal fade" id="createVoteModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Create Vote</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label>Vote Name</label>
                                        <input type="text" class="form-control" name="VoteName" placeholder="Vote Name">
                                    </div>
                                    <div class="form-group">
                                        <label>Vote Date</label>
                                        <input type="text" class="form-control" name="VoteDate" placeholder="2013-09-09">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary submit">Submit</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

                <!-- createGroupModal Modal -->
                <div class="modal fade" id="createGroupModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Create Vote</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label>Vote Name</label>
                                        <select class="form-control" name="VoteName">
                                            <option value="1">aaaa</option>
                                            <option value="2">bbbb</option>
                                            <option value="3">cccc</option>
                                            <option value="4">dddd</option>
                                        </select>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" class="clone" name="clone" value="1" checked>
                                                Clone Group
                                            </label>
                                        </div>
                                        <div class="cloneDiv">
                                            <label>Clone From...</label>
                                            <select class="form-control" name="cloneVote">
                                                <option value="1">aaaa</option>
                                                <option value="2">bbbb</option>
                                                <option value="3">cccc</option>
                                                <option value="4">dddd</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-default addColumn">Add Column</button>
                                    </div>
                                    <div class="form-group group-name">
                                        <label>Group Name</label>
                                        <input type="text" class="form-control" name="GroupName[]" placeholder="委員">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary submit">Submit</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->


                <div id="alertMessage" class="alert alert-success">TEST</div><!-- end .alertMessage -->
                aaaadsfd;lkjdalkgjadlaa
                <span class="glyphicon glyphicon-cloud"></span>
            </div><!-- end .container -->
        </div><!-- end #doc -->
        <script>
            (function($){
                $('#alertMessage').hide();

                //createVoteModal
                $('#createVoteModal .submit').click(function() {
                    $.post('/api/createVote', $('#createVoteModal form').serialize())
                    .done(function(data) {
                        $('#createVoteModal').modal('hide');
                        console.log(data);
                    })
                    .fail(function(err) {
                        $('#createVoteModal').modal('hide');
                        $('#alertMessage').html('Please Login').attr('class','alert alert-danger').show();
                    });
                });

                //createGroupModal
                $('#createGroupModal .clone').click(function() {
                    var check = $('#createGroupModal .clone:checked').val();
                    var div = $(this).parents().find('.cloneDiv');
                    (undefined == check) ? (div.hide()) : (div.show());
                });

                $('#createGroupModal .addColumn').click(function(e) {
                    e.preventDefault();
                    $('#createGroupModal .group-name .form-control:first')
                        .clone()
                        .val("")
                        .appendTo('#createGroupModal .group-name');
                });

                $('#createGroupModal .submit').click(function() {
                    $.post('/api/createGroup', $('#createGroupModal form').serialize())
                    .done(function(data) {
                        $('#createGroupModal').modal('hide');
                        console.log(data);
                    })
                    .fail(function(err) {
                        $('#createGroupModal').modal('hide');
                        $('#alertMessage').html('Please Login').attr('class','alert alert-danger').show();
                    });
                });

            })(jQuery);
        </script>
    </body>
</html>
