<% //createVoteModal  %>
<div class="modal fade" id="createVoteModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Create Vote</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Vote Name</label>
                        <input type="text" class="form-control" name="VoteName" placeholder="Vote Name">
                    </div>
                    <div class="form-group">
                        <label>Vote Date</label>
                        <input type="text" class="form-control" name="VoteDate" placeholder="2013-09-09">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary submit">Submit</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
