<!DOCTYPE HTML>
<html>
    <% include head %>
    <body>
        <div id="doc">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Voting system</a>
                    </div><!-- end .navbar-header -->
                </div><!-- end .container -->
            </div><!-- end .navbar -->
            <div id="login" class="container">
                <form method="post" action="/login">
                    <h2>Login</h2>
                    <input type="text" class="form-control" name="Account" placeholder="Account" autofocus>
                    <input type="password" class="form-control" name="Passwd" placeholder="Password"><br>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </form><br>
                <% if (true == Err) { %>
                <div class="alert alert-danger">Login Fail</div>
                <% } %>
            </div><!-- end .container -->
        </div><!-- end #doc -->
    </body>
</html>
