<!DOCTYPE HTML>
<html>
    <% include head %>
    <body>
        <div id="doc">
            <% include defaultNavbar %>
            <div class="container vote1">
                <div class="row">
                    <div class="col-md-6">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Group Name</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="group1">
                                    <td>AAAAA</td>
                                    <td><button type="button" class="close delGroup1111">&times;</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Num.</th>
                                    <th class="nameColumn">Name</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="Candidate1111">
                                    <td>1</td>
                                    <td>TEST</td>
                                    <td><button type="button" class="close delCandidate1111">&times;</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!-- end .container -->
        </div><!-- end #doc -->
        <script>
            (function($){
            })(jQuery);
        </script>
    </body>
</html>
